.DS_Store
.build
Packages
xcuserdata
DerivedData
.netrc
build
.idea
deps
PLAN.md
profile.trace
*.dxf
*.eab
*.obj
repomix-output.*
plans
Engine/EngineAsBuilt/cleanup-2.lsp
Docs/cleanup.lsp
Docs/selectByColor.lsp
Engine/EngineAsBuilt/.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
Engine/EngineAsBuilt/spline-gradient.dwg
nul
*.pdf
.VSCodeCounter/
imgui.ini
Engine/EngineAsBuilt/.build_new/
.thumbnail
AGENTS.md
Engine/SwiftSDL/Samples
Engine/SwiftSDL_image/Samples
Engine/EngineAsBuilt/libpdfium.dylib
swift-6.3-book.xml
swift-6.3-cpp-interop.md
