.DS_Store
.build
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
build/
.idea/
PHP.xcframework/
Docs/.build
Docs/public
assets/save.data
Engine/deps/SDL/
Engine/deps/SDL_image/
Engine/deps/SDL_mixer/
Engine/deps/SDL_ttf/
Engine/PhrostEngineV2/Plugins/zig-plugin/zig-out/lib/libzig_phrost_plugin.dylib
Engine/PhrostEngineV2/Plugins/zig-plugin/zig-out/bin/zig_phrost_plugin.pdb
Engine/PhrostEngineV2/Plugins/zig-plugin/zig-out/lib/zig_phrost_plugin.lib
Engine/PhrostEngineV2/save.dat
Engine/PhrostEngineV2/Plugins/rust-plugin/target
Engine/PhrostEngineV2/save.dat
Engine/PhrostEngineV2/assets/python/Phrost/__pycache__
Engine/PhrostEngineV2/assets/python/__pycache__
Engine/PhrostEngineV2/assets/python/save.data
Engine/PhrostEngineV2/save.data
Engine/deps/php-8.4.10-nts-Win32-vs17-arm64-experimental/assets
Engine/deps/php-8.4.10-nts-Win32-vs17-arm64-experimental/PhrostBinary.exe
Engine/deps/php-8.4.10-nts-Win32-vs17-arm64-experimental/PhrostIPC.exe
Engine/PhrostEngineV2/Docs/resources/_gen
Engine/PhrostEngineV2/Docs/themes/hugo-book
Engine/deps/php-8.4.10-nts-Win32-vs17-arm64-experimental/PhrostEngine.dll
Engine/deps/php-8.4.10-nts-Win32-vs17-arm64-experimental/save.dat
/Runtime/python/Phrost/__pycache__
/Runtime/rust/plugin/target
/Runtime/zig/plugin/.zig-cache
/Engine/PhrostEngineV2/Plugins/zig-plugin/zig-out
/Runtime/zig/plugin/zig-out
/Release
/Engine/deps
/Engine/deps
/PLAN.md
/Engine/EngineAsBuilt/profile.trace
/plans
/Engine/plans
Engine/EngineAsBuilt/san-diego-tijuana.dxf
Engine/EngineAsBuilt/los-angeles.dxf
*.dxf
*.eab
*.obj
repomix-output.*
Engine/EngineAsBuilt/24-115.dwg
Engine/EngineAsBuilt/PLAN.md
Engine/EngineAsBuilt/plans
Engine/EngineAsBuilt/plans/feature-command-system.md
Engine/EngineAsBuilt/cleanup-2.lsp
Docs/cleanup.lsp
Docs/selectByColor.lsp
Engine/EngineAsBuilt/.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
Engine/EngineAsBuilt/spline-gradient.dwg
nul
*.pdf
.VSCodeCounter/
imgui.ini
Engine/EngineAsBuilt/.build_new/
.thumbnail
AGENTS.md
Engine/EngineAsBuilt/*.swift
Engine/SwiftSDL/Samples
Engine/SwiftSDL_image/Samples
Engine/EngineAsBuilt/libpdfium.dylib
swift-6.3-book.xml
swift-6.3-cpp-interop.md
